.home_page {
    background: #0f111a;
    color: #8f93a2;
    opacity: 0.9;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    min-height: 100vh;
    .header {
        font-weight: bolder;
        font-size: 50pt;
        margin: 10rem auto 9rem;
        text-align: center;
        color: #c792ea;
        transition: 0.5s;
        @media only screen and (max-width: 1150px) {
            font-size: 40pt;
        }
        @media only screen and (max-width: 756px) {
            font-size: 30pt;
        }
        &:hover {
            text-shadow: 0 0 2rem rgba(199, 146, 234, 0.7);
            cursor: pointer;
            transition: 0.5s;
        }
        .username {
            font-size: 40pt;
            @media only screen and (max-width: 1150px) {
                font-size: 30pt;
            }
            @media only screen and (max-width: 756px) {
                font-size: 20pt;
            }
        }
    }
    .heading {
        color: #c792ea;
        transition: 0.5s;
        font-size: 30pt;
        font-weight: 600;
        text-align: left;
        width: 100%;
        @media only screen and (max-width: 1150px) {
            font-size: 25pt;
        }
        @media only screen and (max-width: 756px) {
            font-size: 25pt;
        }
        &:hover {
            text-shadow: 0 0 2rem rgba(199, 146, 234, 0.7);
            cursor: pointer;
            transition: 0.5s;
        }
    }
    .aboutme {
        font-size: 14pt;
        width: 60%;
        border-radius: 0;
        margin: 5rem auto;
        line-height: 1.8;
        text-align: justify;
        @media only screen and (max-width: 1150px) {
            font-size: 14pt;
            width: 70%;
        }
        @media only screen and (max-width: 756px) {
            font-size: 12pt;
            width: 80%;
        }
        em {
            font-weight: 100 !important;
        }
    }
    .projects {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media only screen and (max-width: 1150px) {
            width: 70%;
        }
        @media only screen and (max-width: 756px) {
            width: 80%;
        }
        .cards {
            padding: 3rem;
            display: grid;
            grid-template-columns: auto auto auto;
            @media only screen and (max-width: 1150px) {
                padding: 0;
                grid-template-columns: auto auto;
            }
            @media only screen and (max-width: 756px) {
                padding: 0;
                grid-template-columns: auto;
            }
        }
    }

    .footer {
        position: absolute;
        font-size: 13pt;
        bottom: 0;
        width: 100%;
        padding: 2.5rem 0 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        a,
        a:active,
        a:focus,
        a:hover {
            text-decoration: none;
            color: inherit;
            background: inherit;
        }
        .linkicon {
            margin: 1rem;
            font-size: 30pt;
            @media only screen and (max-width: 420px) {
                margin: 0.8rem;
            }
        }
        .link {
            font-size: 30pt;
            color: #c792ea;
            cursor: pointer;
            transition: 0.5s;
            @media only screen and (max-width: 420px) {
                font-size: 28pt;
            }
            &:hover {
                color: #eee;
                font-size: 35pt;
                -webkit-filter: drop-shadow(
                    0 0 1.5rem rgba(199, 146, 234, 0.5)
                );
                filter: drop-shadow(0 0 1.5rem rgba(199, 146, 234, 0.5));
                transition: 0.5s;
            }
        }
        .createdbylink {
            margin-top: 1rem;
        }
        .createdby {
            transition: 0.5s;
            color: #c792ea;
            &:hover {
                transition: 0.5s;
                color: #eee;
                cursor: pointer;
                text-shadow: 0 0 1rem rgba(178, 204, 214, 0.5);
            }
        }
    }
}
