.quote {
    font-size: 16pt;
    width: 60%;
    padding: 20px 32px;
    border: 2px solid rgba(199, 146, 234, 0.1);
    border-radius: 20px;
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 0.1);
    @media only screen and (max-width: 1150px) {
        padding: 4rem;
        font-size: 16pt;
        width: 70%;
    }
    @media only screen and (max-width: 756px) {
        font-size: 15pt;
        width: 80%;
        padding: 3rem;
        border-radius: 15px;
        text-align: justify;
    }
    @media only screen and (max-width: 420px) {
        border: 2px solid rgba(199, 146, 234, 0.1);
        padding: 2rem;
        border-radius: 5px;
    }
    &:hover {
        transition: 0.5s;
        color: #eee;
        cursor: pointer;
        box-shadow: 0 0 30px rgba(199, 146, 234, 0.2);
        @media only screen and (max-width: 756px) {
            box-shadow: none;
        }
    }
    .quote_by {
        text-align: right;
        color: #c792ea;
        font-weight: 700;
        margin-top: 8px;
    }
}
