@font-face {
    font-family: "PT Serif";
    src: url(../public/pt-serif-v12-latin-regular.04341d21.woff) format("woff"),
        url(../public/pt-serif-v12-latin-regular.751bb457.ttf)
            format("truetype");
}

* {
    padding: 0;
    margin: 0;
    font-family: "PT Serif";
}

html {
    font-size: 62.5%;
    body {
        background: url(../public/violet.jpg);
        background-attachment: fixed;
        div {
            background-color: rgba(0, 0, 0, 0);
        }
    }
}
