@font-face {
    font-family: "PT Serif";
    src: url(/public/pt-serif-v12-latin-regular.04341d21.woff) format("woff"),
        url(/public/pt-serif-v12-latin-regular.751bb457.ttf) format("truetype");
}

* {
    padding: 0;
    margin: 0;
    font-family: "PT Serif";
}

html {
    font-size: 62.5%;
    body {
        background: url(/public/violet.jpg);
        background-attachment: fixed;
        div {
            background: inherit;
        }
        .page {
            background: #0f111a;
            color: #8f93a2;
            opacity: 0.9;
            width: 100%;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-direction: column;
            flex-direction: column;
            -webkit-justify-content: flex-start;
            justify-content: flex-start;
            -webkit-align-items: center;
            align-items: center;
            position: relative;
            min-height: 100vh;
            .header {
                font-weight: bolder;
                font-size: 50pt;
                margin: 10rem auto 9rem;
                text-align: center;
                color: #c792ea;
                transition: 0.5s;
                @media only screen and (max-width: 1150px) {
                    font-size: 40pt;
                }
                @media only screen and (max-width: 756px) {
                    font-size: 30pt;
                }
                &:hover {
                    text-shadow: 0 0 2rem rgba(199, 146, 234, 0.7);
                    cursor: pointer;
                    transition: 0.5s;
                }
                .username {
                    font-size: 40pt;
                    @media only screen and (max-width: 1150px) {
                        font-size: 30pt;
                    }
                    @media only screen and (max-width: 756px) {
                        font-size: 20pt;
                    }
                }
            }
            .heading {
                color: #c792ea;
                transition: 0.5s;
                &:hover {
                    text-shadow: 0 0 2rem rgba(199, 146, 234, 0.7);
                    cursor: pointer;
                    transition: 0.5s;
                }
            }
            .quote {
                font-size: 18pt;
                width: 50%;
                padding: 5rem;
                border: 2px solid rgba(199, 146, 234, 0.1);
                border-radius: 20px;
                transition: 0.5s;
                @media only screen and (max-width: 1150px) {
                    padding: 4rem;
                    font-size: 16pt;
                    width: 70%;
                }
                @media only screen and (max-width: 756px) {
                    font-size: 15pt;
                    width: 80%;
                    padding: 3rem;
                    border-radius: 15px;
                    text-align: justify;
                }
                @media only screen and (max-width: 420px) {
                    border: 2px solid rgba(199, 146, 234, 0.1);
                    padding: 2rem;
                    border-radius: 5px;
                }
                &:hover {
                    transition: 0.5s;
                    color: #eee;
                    cursor: pointer;
                    box-shadow: 0 0 3rem rgba(199, 146, 234, 0.2);
                    @media only screen and (max-width: 756px) {
                        box-shadow: none;
                    }
                }
                .quoteby {
                    text-align: right;
                    color: #c792ea;
                    font-weight: 700;
                }
            }
            .aboutme {
                font-size: 17pt;
                width: 50%;
                border-radius: 0;
                padding: 3rem;
                margin: 5rem auto;
                line-height: 1.8;
                text-align: justify;
                @media only screen and (max-width: 1150px) {
                    font-size: 16pt;
                    width: 70%;
                    padding: 3rem;
                    margin: 5rem auto;
                    line-height: 1.8;
                }
                @media only screen and (max-width: 756px) {
                    font-size: 15pt;
                    width: 80%;
                    padding: 3rem;
                    margin: 5rem auto;
                    line-height: 1.8;
                }
                .heading {
                    font-size: 30pt;
                    font-weight: 600;
                    @media only screen and (max-width: 1150px) {
                        font-size: 25pt;
                    }
                    @media only screen and (max-width: 756px) {
                        font-size: 22pt;
                    }
                }
                em {
                    font-weight: 100 !important;
                }
            }
            .projects {
                margin-bottom: 13rem;
                width: 50%;
                display: -webkit-flex;
                display: flex;
                -webkit-flex-direction: column;
                flex-direction: column;
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-align-items: center;
                align-items: center;
                @media only screen and (max-width: 1150px) {
                    margin-bottom: 13rem;
                    width: 70%;
                }
                @media only screen and (max-width: 756px) {
                    margin-bottom: 13rem;
                    width: 80%;
                }
                .heading {
                    font-size: 30pt;
                    font-weight: 600;
                    text-align: left;
                    width: 100%;
                    @media only screen and (max-width: 1150px) {
                        font-size: 25pt;
                    }
                    @media only screen and (max-width: 756px) {
                        font-size: 25pt;
                    }
                }
                .cards {
                    padding: 3rem;
                    display: grid;
                    grid-template-columns: auto auto auto;
                    @media only screen and (max-width: 1150px) {
                        padding: 0;
                        grid-template-columns: auto auto;
                    }
                    @media only screen and (max-width: 756px) {
                        padding: 0;
                        grid-template-columns: auto;
                    }
                    .card {
                        width: 300px;
                        height: 150px;
                        transition: 0.5s;
                        border-radius: 1rem;
                        padding: 2rem;
                        margin: 2rem;
                        border: 2px solid rgba(199, 146, 234, 0.1);
                        @media only screen and (max-width: 1150px) {
                            width: 290px;
                            height: 120px;
                            border-radius: 1rem;
                            padding: 2rem;
                            margin: 2rem;
                        }
                        @media only screen and (max-width: 756px) {
                            width: 290px;
                            height: 110px;
                            border-radius: 1rem;
                            padding: 2rem;
                            margin: 2rem 0 0;
                        }
                        &:hover {
                            transition: 0.5s;
                            color: #eee;
                            cursor: pointer;
                            box-shadow: 0 0 3rem rgba(199, 146, 234, 0.2);
                        }
                        .cardhead {
                            font-size: 23pt;
                            font-weight: 700;
                            color: #c792ea;
                            @media only screen and (max-width: 1150px) {
                                font-size: 20pt;
                            }
                            @media only screen and (max-width: 756px) {
                                font-size: 18pt;
                            }
                        }
                        .carddesc {
                            font-size: 15pt;
                            @media only screen and (max-width: 1150px) {
                                font-size: 15pt;
                            }
                            @media only screen and (max-width: 756px) {
                                font-size: 14pt;
                            }
                        }
                    }
                }
            }

            .footer {
                position: absolute;
                font-size: 13pt;
                bottom: 0;
                width: 100%;
                padding: 2.5rem 0 1rem;
                display: -webkit-flex;
                display: flex;
                -webkit-flex-direction: column;
                flex-direction: column;
                -webkit-justify-content: space-between;
                justify-content: space-between;
                -webkit-align-items: center;
                align-items: center;
                a,
                a:active,
                a:focus,
                a:hover {
                    text-decoration: none;
                    color: inherit;
                    background: inherit;
                }
                .linkicon {
                    margin: 1rem;
                    font-size: 30pt;
                    @media only screen and (max-width: 420px) {
                        margin: 0.8rem;
                    }
                }
                .link {
                    font-size: 30pt;
                    color: #c792ea;
                    cursor: pointer;
                    transition: 0.5s;
                    @media only screen and (max-width: 420px) {
                        font-size: 28pt;
                    }
                    &:hover {
                        color: #eee;
                        font-size: 35pt;
                        -webkit-filter: drop-shadow(
                            0 0 1.5rem rgba(199, 146, 234, 0.5)
                        );
                        filter: drop-shadow(
                            0 0 1.5rem rgba(199, 146, 234, 0.5)
                        );
                        transition: 0.5s;
                    }
                }
                .createdbylink {
                    margin-top: 1rem;
                }
                .createdby {
                    transition: 0.5s;
                    color: #c792ea;
                    &:hover {
                        transition: 0.5s;
                        color: #eee;
                        cursor: pointer;
                        text-shadow: 0 0 1rem rgba(178, 204, 214, 0.5);
                    }
                }
            }
        }
    }
}
